.savebtn {
    display: block;
    background-color: #c9ab7c;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #b9a179;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.savebtn:hover {
    background-color: rgb(122, 101, 76);
}

canvas {
    margin-left: 10px;
    margin-top: 30px;
}

.canvaWrapper {
    position: relative;
    width: fit-content;
    margin: 20px auto;
}