 /* background-color:#c59a5a !important; */
/* background-color: rgb(248, 247, 246);
#c59a5a */


.profile_container{
    background-image: url(../../../public/images/modern-apartment-with-comfortable-sofa-decor-generated-by-ai.jpg);
    background-size: cover;
    background-position: center;
    min-height: 93vh;
    max-height:fit-content;
    .user_layer{
        background-color: rgba(0, 0, 0, 0.498);
        min-height: 93vh;
    max-height:fit-content;
    }
}
.userProfile_image{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.user_details p,i {
    font-size: 12px !important;
}
.user_profile{
    background-color: rgba(248, 247, 246, 0.725);

    width: 100%;
    text-align: center;
}
.user_btn a{
   background-color: transparent !important;
   box-shadow: none !important;
}
.active_btn{
    border-radius: unset    !important;
    -webkit-border-radius: unset    !important;
    -moz-border-radius: unset    !important;
    -ms-border-radius: unset    !important;
    -o-border-radius: unset    !important;
}
.active_btn i {
    font-size: 12px !important;
}
.user_outlet{
    

}
.about_user{
    background-color: rgba(248, 247, 246, 0.725) !important;

}
.span{
    height:1px;
    background-color: rgb(151, 150, 150);
    width: 100%;
}
.project_skills{
    background-color:#c59a5a !important ;
    color: aliceblue !important;
}
.user_projects{
    background-color: rgb(151, 150, 150);
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.designer_offres{
    background-color: rgba(248, 247, 246, 0.725);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}